<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ezen.project.IGSJ.Product.ProductFileMapper">

<insert id="imgRegister" parameterType="ezen.project.IGSJ.ProductFile.dto.ProductFileDTO" >
	insert into ProductDTO(pno,originalFileName,storedFileRootName,storedThumbNailName)
	values ( #{pno}, #{originalFileName},#{storedFileRootName},#{storedThumbNailName})
</insert>

</mapper>